{% load static %}

{% block content %}
    <article class="card mb-3 border-secondary">
        <div class="row">
            <div class="col-2">
                <div class="m-3 mt-2">
                    <div class="border mb-3" style="height: 75px; width: 75px">
                        <img src="{% static 'img/' %}{{ answer.user.profile.avatar }}" class="img-fluid rounded-start"
                             onerror="this.onerror=null; this.src='{% static 'img/default.jpg' %}';"
                             alt="..."/>
                    </div>
                    <div class="col-7">
                        <div class="input-group flex-nowrap">
                            <input type="number" value="{{ answer.answerlike_set.all.count }}" class="form-control"/>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="mt-2">
                    <p class="ms-0">{{ answer.content }}</p>
                    <div class="form-check">
                        <input class="form-check-input {% if  answer.correct %}checked{% endif %}" type="checkbox"
                               value="">
                        <label class="form-check-label" for="defaultCheck1">Correct!</label>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}