{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>AskPupkin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    {#    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/application.css' %}"/>
</head>

<body>
<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-sm-fluid container-lg">
            <a class="navbar-brand">AskPupkin</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
                <div class="d-flex justify-content-between gap-3">
                    <div class="border">
                        <img src="{% static 'img/' %}{{ user.profile.avatar }}" width="50" height="50"
                             onerror="this.onerror=null; this.src='{% static 'img/default.jpg' %}';" alt="..."/>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div>{{ user.username }}</div>
                        <div><a class="link-offset-2 link-underline link-underline-opacity-0"
                                href="{% url 'settings' %}">Settings</a>
                            <a class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
                               href="{% url 'logout' %}">Log out</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex justify-content-between gap-3">
                    <div class="d-flex flex-column justify-content-between">
                        <div>
                            <a href="{% url 'login' %}">Log in</a>
                            <a href="{% url 'signup' %}">Sign up</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

<main class="container-fluid container-lg mt-3 mb-5">
    <div class="row">
        {% block content %}
        {% endblock %}

        <div class="col-3 mt-5">
            <h3>Popular Tags</h3>
            <div class="row">
                <div class="col">
                    {% for tag in popular_tags %}
                        <a class="btn btn-outline-{{ tag.color }} p-1 m-1" href="{% url 'tag' tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <h3 class="mt-5">Best Members</h3>
            <div>
                {% for member in members %}
{#                    <a href="#" class="d-block mb-1">{{ member.user.username }}</a>#}
                    <h5 class="m-1 ms-4">{{ member.user.username }}</h5>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
<footer class="footer sticky-bottom p-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2024 All rights reserved. No giraffes were harmed in the making of this website 🦒</span>
    </div>
</footer>
</body>
</html>