{% load static %}
<article class="card mb-4 w-100">
    <div class="row g-0">
        <div class="col-2 p-2">
            <div class="border mb-3" style="height: 150px">
                <img src="{% static 'img/' %}{{ question.user.profile.avatar }}" class="img-fluid rounded-start"
                     style="max-width: 100%;" onerror="this.onerror=null; this.src='{% static 'img/default.jpg' %}';" alt="..."/>
            </div>
            <div class="input-group flex-nowrap">
                <input type="number" value="{{ question.questionlike_set.all.count }}" class="form-control"/>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'question' question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">
                    {{ question.content }}
                </p>
                <div class="row">
                    <a class="col-4" href="{% url 'question' question.id %}">answers
                        ({{ question.answer_set.all.count }})</a>
                    <div class="col-8">
                        <span>Tags</span>
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>