{% extends "layouts/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="col-9">
        <form class="col-6 mx-auto" method="post">
            {% csrf_token %}

            <div class="form-group row mb-3">
                <div class="col-sm-12">
                    <h3>New Question</h3>
                </div>
            </div>

            {% bootstrap_form form %}

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-dark">ASK!</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
