{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="col-9">
        <div class="d-flex gap-3 align-items-center mb-4">
            <h1>New Questions</h1>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'hot' %}">Hot Questions</a>
            <div class="ms-auto"></div>
            <a class="btn btn-success" href="{% url 'ask' %}" role="button">Ask Question</a>
        </div>
        {% for question in questions %}
            {% include "layouts/question.html" %}
        {% endfor %}

        {% include "layouts/pagination.html" with page_obj=questions %}
    </div>
{% endblock %}

