{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="col-3 mx-auto">
        <h3>Log In</h3>
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="form-actions mb-2">
                <button class="btn btn-primary">Log in!</button>
            </div>

            <div class="form-group row mb-3">
                <div class="col-sm-9">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'signup' %}">create new account</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}